.chat::-webkit-scrollbar {
    display: none;
}

.chat {
    flex-grow: 1;
    flex: 1;
    overflow: scroll;
    padding-bottom: 150px;
    background-color: var(--slack-color);
}

.chat__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23.5px;
    border-top: 1px solid #000;
    /* border-bottom: 1px solid #000; */
    color: gold;
}

.chat__channelName {
    text-transform: lowercase;
    display: flex;
}

.chat__channelName >  .MuiSvgIcon-root {
    margin-left: 10px;
    font-size: 18px;
}

.chat__header > p {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.chat__headerRight > p > .MuiSvgIcon-root {
    margin-right: 5px !important;
    font-size: 16px;
}